* {
  margin: 0;
  box-sizing: border-box;
}
nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
  background: linear-gradient(90deg, rgb(105, 162, 218), rgb(3, 116, 54));
  color: white;
  > a {
    color: white;
  }
  > a:hover {
    color: red;
    border: 1px solid red;
  }
}

.gallery {
  display: flex;
  gap: 20px;
  padding: 20px;
  position: relative;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 4px dashed lavender;
  > img {
    height: 100px;
  }
}
