
      h2 {
        border: 2px groove red;
        border-radius: 10px 0 10px 0;
        background-color: green;
      }
      .paragraph {
        background-color: blue;
        border-width: 2px;
        border-style: dashed;
        padding: 10px 1px 0 50px;
        color: red;
      }
      #special {
        background-image: url(day2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid red;
        font-size: 40px;
        color: green;
        border-radius: 10px;
      }
    
